

.obsidian/workspace.json
.obsidian/**/workspaces.json
.obsidian/plugins/obsidian-spaced-repetition/data.json
.obsidian/**/allExceptMd.json
.obsidian/plugins/metadata-extractor/metadata.json
.obsidian/plugins/github-embeds